body{
    
    /*background-image: url(Destiny-Moon.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    
    background-color: #444;
    text-align: center;
    
    
}

#foo{
    color:red;
}

[id="foo"]{
    color=cyan;
}

.container{   
    
   /* background: linear-gradient(to left,#00ccff,#b3f0ff);
    box-shadow: 2px 2px 5px black;*/
}

.container h1{
    
    color:green;
}

h1{
    color: #ffffff; 
    line-height: 1rem;
    font-family: 'Anton', sans-serif;
}

h2{
    color: #ffffff; 
    line-height: 1rem;
    font-family: 'Lobster', cursive;
}

h3{
    color: #ffffff; 
    line-height: 1rem;
    font-family: 'Long Cang', cursive;
}


.formatting{
    
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 10px;
    text-transform: uppercase;
}

.borderImg{
    
    border: 12px solid red;
    
}

ul li{
    color: white;
    font-size: 20px;
  
    
}

ul > li{
    color:yellow;
}
